<!DOCTYPE html>
<html>
<head>
  <title>QuizGame</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload', media: 'all' %>
  <%= stylesheet_link_tag 'quiz', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <%= yield %>
  <%= javascript_pack_tag 'quiz' %>
</body>
</html>
